name: Publish Docker image

on:
  push:
    branches: ["main"]

jobs:
  push_to_registry:
    name: Push Docker image to Docker Hub
    runs-on: ubuntu-latest
    steps:
      - name: Check out the repo
        uses: actions/checkout@v5

      - name: Set current caddy tag from Dockerfile
        run: |
          ver="$(grep -m2 caddy: Dockerfile | tail -n1 | cut -d: -f2 | cut -d@ -f1)"
          echo "CURRENT_TAG="$ver"" >> "$GITHUB_ENV"

      - name: Test tag extraction
        run: echo $CURRENT_TAG

      - name: Log in to Docker Hub
        uses: docker/login-action@6862ffc5ab2cdb4405cf318a62a6f4c066e2298b
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
      
      - name: Build and push Docker image
        uses: docker/build-push-action@9e436ba9f2d7bcd1d038c8e55d039d37896ddc5d
        with:
          context: .
          file: ./Dockerfile
          push: true
          tags: ${{ secrets.DOCKERHUB_USERNAME }}/caddy-cloudflare:${{ env.CURRENT_TAG }}, ${{ secrets.DOCKERHUB_USERNAME }}/caddy-cloudflare:latest